<nav class="flex items-center justify-between py-10">
  <a href="/" class="text-xl font-semibold">Astro</a>
  <ul class="flex items-center gap-5">
    <a href="/posts">Posts</a>
    <a href="/gallery">Gallery</a>
  </ul>
</nav>
