---
import Head from '@components/Head.astro'
import Navbar from '@components/Navbar.astro'
import '@styles/global.css'

interface Props {
  title?: string
}

const { title = 'Astro' } = Astro.props
---

<html lang="en">
  <Head {title} />
  <body class="font-inter">
    <div class="m-auto max-w-3xl w-[90%]">
      <Navbar />
      <slot />
    </div>
  </body>
</html>
